<section class="home_carousel_area">
    <div class="home_carousel_slider owl-carousel">
    {{#each carouselItems}}
        <div class="item">
            <div class="h_carousel_item">
                <img src="{{cover}}" alt="" height="400">
                <div class="carousel_hover">
                    <h3>{{title}}</h3>
                    <h4>We feature the best professional instruments</h4>
                    <h5>Including:</h5>
                    <p>{{description}}</p>
                    <a class="discover_btn" href="/products?filter={{filter}}">discover now</a>
                </div>
            </div>
        </div>
    {{/each}}
    </div>
</section>