<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<!--================Headline Area =================-->
<header class="shop_header_area carousel_menu_area">
    <div class="carousel_top_header row m0">
        <div class="container">
            <div class="carousel_top_h_inner">
                
                <div class="float-md-right">
                    <div class="top_header_middle">
                        <span>
                            {{#if userInfo.isLogin}}
                                <span>Welcome back, <a class="text-primary" href="/user">{{userInfo.info.username}}  <img style="border-radius: 7px;margin-top: 0px" height="25px" width="25px" src="{{userInfo.info.avatar}}" /> </a></span>
                                <a class="text-secondary" href="/user/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
                            {{else}}
                                <a class="text-secondary" href="/user/login">Login</a>
                                <a class="text-secondary" href="/user/signup">Signup</a>
                            {{/if}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--================Headline Area =================-->