<!--================Menu Area =================-->
<div class="carousel_menu_inner carousel_menu_area shop_header_area">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><img src="../img/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Shop <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="nav-link" href="/products?filter=guitar">Guitar</a></li>
                            <li class="nav-item"><a class="nav-link" href="/products?filter=ukulele">Ukulele</a></li>
                            <li class="nav-item"><a class="nav-link" href="/products?filter=violin">Violin</a></li>
                            <li class="nav-item"><a class="nav-link" href="/products?filter=piano">Piano</a></li>
                            <li class="nav-item"><a class="nav-link" href="/products?filter=drum">Drum</a></li>
                            <li class="nav-item"><a class="nav-link" href="/products">All</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/user">Account</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">lookbook</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                </ul>
                <ul class="navbar-nav justify-content-end">
                    <li class="search_icon"><a href="/products"><i class="icon-magnifier icons"></i></a></li>
                    <li class="user_icon"><a href="/user/login"><i class="icon-user icons"></i></a></li>
                    <li class="cart_cart" id="cart_info" >
                        <a href="/cart"><i class="icon-handbag icons">
                            {{#if cartCount}}
                            <span class="cart_count" id="go_to_cart">
                                {{cartCount}}
                            </span>
                            {{/if}}
                        </i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!--================End Menu Area =================-->