<section class="product_listing_area">
    <div class="container">
        <div class="row p_listing_inner">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-sm-8">
                        <div class="p_list_text">
                            <h3>Beginer</h3>
                            <ul>
                                <li><a href="/products?filter=guitar">Guitars</a></li>
                                <li><a href="/products?filter=violin">Violins</a></li>
                                <li><a href="/products?filter=piano">Pianos</a></li>
                                <li><a href="/products?filter=drum">Drums</a></li>
                                <li><a href="/products?filter=all">Others</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-4">
                        <div class="p_list_img">
                            <img src="img/product/p-categories-list/product-l-1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-sm-8 ">
                        <div class="p_list_text">
                            <h3>Professor</h3>
                            <ul>
                                <li><a href="/products?filter=guitar">Guitars</a></li>
                                <li><a href="/products?filter=violin">Violins</a></li>
                                <li><a href="/products?filter=piano">Pianos</a></li>
                                <li><a href="/products?filter=drum">Drums</a></li>
                                <li><a href="/products?filter=all">Others</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-4">
                        <div class="p_list_img">
                            <img src="img/product/p-categories-list/product-l-2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>