<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h3>Team PPL</h3>
      <p>This website is a product of our Web application development course.<br> This website is made for educational purposes.</p>

      <h4 class="mt-3">Members:</h4>
      <ul>
        <li>Nguyễn Minh Luân - 18120204</li>
        <li>Nguyễn Điền Thanh Phong - 18120221</li>
        <li>Đỗ Tường Hoàng Phú - 18120222</li>
      </ul>
    </div>

  <div class="col-lg-6">
    <h4>Contact infos:</h4>
    <ul>
      <li>Nguyễn Minh Luân - 18120204@student.hcmus.edu.vn</li>
      <li>Nguyễn Điền Thanh Phong - 18120221@student.hcmus.edu.vn</li>
      <li>Đỗ Tường Hoàng Phú - 18120222@student.hcmus.edu.vn</li>
    </ul>
  </div>
  </div>
</div>