<section class="login_area p_100">
            <div class="container">
                <div class="login_inner">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-lg-8">
                            <div class="login_title">
                                <h2>Reset Password</h2>
                                <p>Enter your new password.</p>
                            </div>
                            <form id="signupForm" class="login_form row" action="/user/reset/{{token}}" method="POST">
                                <div class="col-lg-6 form-group">
                                    <input id="pass" class="form-control" type="password" name="password" placeholder="Password">
                                </div>
                                <div class="col-lg-6 form-group">
                                    <input id="repass" class="form-control" type="password" name="repassword" placeholder="Re-Password">
                                </div>
                                <div class="col-lg-6 form-group">
                                    <button id="submitBtn" class="btn subs_btn form-control">Reset Password</button>
                                </div>
                            </form>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </section>