<link href="vendors/jquery-ui/jquery-ui.css" rel="stylesheet">
<!--================Categories Banner Area =================-->
<section class="categories_banner_area">
    <div class="container">
        <div class="c_banner_inner">
            <h3>Products</h3>
        </div>
    </div>
</section>
<!--================End Categories Banner Area =================-->

<!--================Categories Product Area =================-->
<section class="categories_product_main p_80">
    <div class="container">
        <div class="categories_main_inner">
            <div class="row row_disable">
                <div class="col-lg-9 float-md-right">
                    <div id="scrolling-anchor" class="showing_fillter">
                        <div class="row m0">
                            <div id="currentPageInfo" class="first_fillter">
                                <h4>Showing {{pageInfo.firstItemOfPage}} to {{pageInfo.lastItemOfPage}} of
                                    {{pageInfo.totalCount}} total</h4>
                            </div>
                            <div class="secand_fillter">
                                <h4>SORT BY :</h4>
                                <select id="sorted" name="sorted" class="selectpicker">
                                    <option value="alphabet-asc">Name (A-Z)</option>
                                    <option value="alphabet-desc">Name (Z-A)</option>
                                    <option value="lastest">Lastest</option>
                                    <option value="oldest">Oldest</option>
                                </select>
                            </div>
                            <div class="third_fillter">
                                <h4>Show : </h4>
                                <select id="n-per-page" name="n-per-page" class="selectpicker">
                                    <option value="9">09</option>
                                    <option value="15">15</option>
                                    <option value="24">24</option>
                                </select>
                            </div>
                            <div class="search-container input-group">
                                <input id="search-box" class="form-control" type="text" placeholder="Search.."
                                    name="searchText">
                                <button id="search-button" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                            <!--================Products & Paging Area =================-->
                        </div>
                    </div>

                    <div id="loader" class="row m0 d-flex justify-content-center"
                        style="visibility: hidden; position: fixed;">
                        <img src="/img/loading.gif" />
                    </div>

                    <div id="product-items-partial-displayer">
                        <ul>

                        {{>productItems}}
                        </ul>
                    </div>
                    <!--================End Products & Paging Area =================-->
                </div>
                <div class="col-lg-3 float-md-right">
                    <div class="categories_sidebar">
                        <aside class="l_widgest l_p_categories_widget">
                            <div class="l_w_title">
                                <h3>Categories</h3>
                            </div>
                            <ul id="product-filter-selector" class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a title="guitar" class="nav-link dropdown-toggle
                                        {{#if filterOption.isGuitar}} filter-selected {{/if}}
                                    ">
                                    Guitar
                                    </a>
                                </li>
                                <li class="nav-item dropdown
                                ">
                                    <a title="violin" class="nav-link dropdown-toggle
                                        {{#if filterOption.isViolin}} filter-selected {{/if}}
                                    ">
                                    Violin
                                    </a>
                                </li>
                                <li class="nav-item dropdown
                                ">
                                    <a title="piano" class="nav-link dropdown-toggle
                                        {{#if filterOption.isPiano}} filter-selected {{/if}}
                                    ">
                                    Piano
                                    </a>
                                </li>
                                <li class="nav-item dropdown
                                ">
                                    <a title="drum" class="nav-link dropdown-toggle
                                        {{#if filterOption.isDrum}} filter-selected {{/if}}
                                    ">
                                    Drum
                                    </a>
                                </li>
                                <li class="nav-item dropdown
                                ">
                                    <a title="all" class="nav-link dropdown-toggle
                                        {{#if filterOption.isAll}} filter-selected {{/if}}
                                    ">
                                    All
                                    </a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="l_widgest l_fillter_widget">
                            <div class="l_w_title">
                                <h3>Price</h3>
                            </div>
                            <div id="slider-range" class="ui_slider"></div>
                            <label for="amount">Price:</label>
                            <input width="250px" type="text" id="amount" readonly>
                            <button id="price-range-button" class="ml-5">Filter</button>
                        </aside>
                        <!--
                        <aside class="l_widgest l_color_widget">
                            <div class="l_w_title">
                                <h3>Color</h3>
                            </div>
                            <ul>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                        </aside>
                        -->
                        <aside class="l_widgest l_menufacture_widget">
                            <div class="l_w_title">
                                <h3>Manufacturer</h3>
                            </div>
                            <ul id="manufacturer-selector">
                                <li class="nav-item-manufacturer
                                ">
                                    <a title="gibson" class="
                                        {{#if filterOption.isGibson}} manufacturer-selected {{/if}}
                                    ">Gibson</a>
                                </li>
                                <li class="nav-item-manufacturer
                                ">
                                    <a title="steinway" class="
                                        {{#if filterOption.isSteinway}} manufacturer-selected {{/if}}
                                    ">Steinway</a>
                                </li>
                                <li class="nav-item-manufacturer
                                ">
                                    <a title="sennheiser" class="
                                        {{#if filterOption.isSennheiser}} manufacturer-selected {{/if}}
                                    ">Sennheiser</a>
                                </li>
                                <li class="nav-item-manufacturer
                                ">
                                    <a title="yamaha" class="
                                        {{#if filterOption.isYamaha}} manufacturer-selected {{/if}}
                                    ">Yamaha</a>
                                </li>
                                <li class="nav-item-manufacturer
                                ">
                                    <a title="roland" class="
                                        {{#if filterOption.isRoland}} manufacturer-selected {{/if}}
                                    ">Roland</a>
                                </li>
                                <li class="nav-item-manufacturer
                                ">
                                    <a title="all" class="
                                        {{#if filterOption.isAllManufacturer}} manufacturer-selected {{/if}}
                                    ">All
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="/js/jquery-3.2.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css" rel="stylesheet"
    type="text/css" />

<script>
    $(document).ready(function(){
        const url = new URL(window.location);
        let trigger = true;
        Handlebars.registerHelper("log", function(something) {
        console.log(something);
        });
        Handlebars.registerHelper("minus", function (a, b) { return a - b; });

        $('.selectpicker').change(triggerAjaxFilter);
        $("#search-button").click(triggerAjaxFilter);
        $('#search-box').bind("enterKey", triggerAjaxFilter);
        $('#search-box').keyup(function (e) {
            if (e.keyCode == 13) {
                $(this).trigger("enterKey");
            }
        });

        //add to cart dialog
        $('#dialog').dialog({
            autoOpen: false,
            draggable: true,
            dialogClass: "no-close",
            title: "Cart Report",
            show: "blind",
            hide: "explode",
            buttons: [
                {
                    class: "dialog_btn",
                    text: "View Cart",
                    click: function () {
                        window.location.href = '/cart';

                        $(this).dialog("close");
                    }
                },
                {
                    class: "dialog_btn",
                    text: "Continue Shopping",
                    click: function () {
                        $(this).dialog("close");
                    }
                }
            ],
            open: function (event, ui) {
                $(".ui-widget-overlay").click(function () {
                    $('#dialog').dialog('close');
                });
            }

        });

        ///Add to cart
        $("#product-items-partial-displayer").on("click", ".btn-add-to-cart",function (e) {
            trigger = true;
            let data = {
                id: $(this).val(),
            }

            $('#product-items-partial-displayer').css('pointerEvents', 'none');
            document.getElementById("product-items-partial-displayer").style.opacity = "0.5";
            $(this).html('Adding');
            trigger = false;
            $.post('/cart/add-to-cart', data, (result, status) => {
                if (status == "success") {
                    //set dialog html
                    let name = result.item_name;
                    if (result.fail != 1) { //success
                        $(this).html('Add To Cart');
                        $(this).blur();
                        $('#go_to_cart').html(result.cartCount);
                        let qty = result.item_qty;
                        let total = result.item_total;

                        $('#dialog').html("Product: " + name + "<br>" + "In cart: " + qty + "<br>Total: $" + total);

                    }
                    else { // out of stock
                        $('#dialog').html("This product is out of stock:<br>"+name);
                    }

                    //set position
                    e.pageX += 25;
                    e.pageY += 40;
                    var pos = { my: "left top", at: "left bottom", of: e }

                    $("#dialog").dialog("option", "position", pos)
                        .dialog("open");

                    let dialog_popup = document.getElementById("dialog");
                    if (!elementInViewport(dialog_popup)) {
                        dialog_popup.scrollIntoView();
                    }
                }
                else {

                }
                document.getElementById("product-items-partial-displayer").style.opacity = "1";
                $('#product-items-partial-displayer').css('pointerEvents', 'auto');
                

                return;
            })
        });
        ////////////////

        //Filter product
        $('#product-filter-selector li a').click( (e) => {
            console.log(e.target);
            //Remove effect for previous button
            $('#product-filter-selector li a.filter-selected').removeClass("filter-selected");

            //Add effect for previous button
            $(e.target).addClass("filter-selected");
            triggerAjaxFilter();
        });

        //Manufacturer
        $('#manufacturer-selector li a').click( (e) => {
            $('#manufacturer-selector li a.manufacturer-selected').removeClass("manufacturer-selected");

            $(e.target).addClass("manufacturer-selected");
            triggerAjaxFilter();
        });

        //Price range button
        $('#price-range-button').click(triggerAjaxFilter);

        //Paginate
        $('#product-items-partial-displayer').on("click", '.pagination_area .pagination li a', (e) => {
            e.preventDefault();
            //Scroll to top
            $('body,html').animate({
                scrollTop: $("#scrolling-anchor").offset().top - 50,
            }, 700);

            let classList = $(e.target).attr("class");
            let classArr = classList.split(" ");
            let pageNumber;
            let isNextOrPrevBtn = false;
            console.log(e.target);
            console.log(classArr);
            classArr.forEach(element => {
                if (element === "fa-angle-right" || element === "next") {
                    pageNumber = parseInt($('.pagination_area .pagination a.current').html()) + 1;
                    isNextOrPrevBtn = true;
                } else if (element === "fa-angle-left" || element === "prev") {
                    pageNumber = parseInt($('.pagination_area .pagination a.current').html()) - 1;
                    isNextOrPrevBtn = true;
                }
            })

            if (!isNextOrPrevBtn) {
                pageNumber = parseInt($(e.target).html());
            }
            console.log(pageNumber);
            let data = {
                search: $('#search-box').val(),
                sorted: $('#sorted').children("option:selected").val(),
                nPerPage: $('#n-per-page').children("option:selected").val(),
                pageNumber
            }
            sendRequest(data);
        });

        function triggerAjaxFilter() {
            let price = $('#amount').val().split(" - ");
            let priceMin = price[0];
            let priceMax = price[1];

            let search = $('#search-box').val();
            let sorted = $('#sorted').children("option:selected").val();
            let nPerPage = $('#n-per-page').children("option:selected").val();
            let filter = $('#product-filter-selector li a.filter-selected').attr("title");
            let manufacturer = $('#manufacturer-selector li a.manufacturer-selected').attr("title");
            let pageNumber = 1;

            let data = {
                sorted,
                nPerPage,
                pageNumber,
                search,
                priceMin,
                priceMax,
                filter,
                manufacturer,
            }
            //console.log(data);

            //Change url
            url.searchParams.set('sorted', sorted);
            url.searchParams.set('nPerPage', nPerPage);
            url.searchParams.set('pageNumber', pageNumber);
            url.searchParams.set('search', search);
            url.searchParams.set('priceMin', priceMin);
            url.searchParams.set('priceMax', priceMax);
            url.searchParams.set('filter', filter);
            url.searchParams.set('manufacturer', manufacturer);
            window.history.pushState({}, '', url);

            sendRequest(data);
            return;
        }

        function sendRequest(data) {
            $.post('/products', data, (result, status) => {
                //console.log(status);
                //let source   = result.partials;
                let sourceProductsItem = `<div class="categories_product_area">
                                <div class="row">
                                    \{\{#each productItems\}\}
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <a href="/products/detail/\{\{_id\}\}" ><img src="\{\{cover\}\}" width="270" height="480"></a>
                                            </div>
                                            <div class="l_p_text">
                                                <ul>
                                                    {{!-- <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li> --}}
                                                    <li><button class="btn-add-to-cart add_cart_btn" value="\{\{_id\}\}">Add To Cart</button> </li>
                                                    {{!-- <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li> --}}
                                                </ul>
                                                <h4>\{\{title\}\}</h4>
                                                \{\{#if discount\}\}
                                                    <h5><del>\$\{\{price\}\}</del>  \$\{\{minus price discount\}\}</h5>
                                                \{\{else\}\}
                                                    <h5>\$\{\{price\}\}</h5>
                                                \{\{/if\}\}
                                            </div>
                                        </div>
                                    </div>
                                    \{\{/each\}\}
                                </div>
                                \{\{#if pageInfo.isNotEmpty\}\}
                                    <nav aria-label="Page navigation example" class="pagination_area">
                                        <ul class="pagination" id="pagination">
                                            \{\{#if pageInfo.isFirstPage \}\}
                                                <!-- Do nothing -->
                                            \{\{else\}\}
                                                <li class="page-item prev"><a class="page-link prev" ><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                            \{\{/if\}\}

                                            \{\{#each pageInfo.pageList\}\}
                                                \{\{#if this.isCurrentPage\}\}
                                                    <li class="page-item current"><a class="page-link current" >\{\{this.index\}\}</a></li>
                                                \{\{else\}\}
                                                    <li class="page-item"><a class="page-link" >\{\{this.index\}\}</a></li>
                                                \{\{/if\}\}
                                            \{\{/each\}\}
                                            \{\{#if pageInfo.isLastPage \}\}
                                                <!-- Do nothing -->
                                            \{\{else\}\}
                                                <li class="page-item next"><a class="page-link next" ><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                            \{\{/if\}\}
                                        </ul>
                                    </nav>
                                \{\{else\}\}
                                    <h6>No product available.</h6>
                                \{\{/if\}\}
                            </div>`;
                let sourceCurrentPageInfo = `<h4>Showing \{\{pageInfo.firstItemOfPage\}\} to \{\{pageInfo.lastItemOfPage\}\} of \{\{pageInfo.totalCount\}\} total</h4>`
                //console.log(source);
                let templateProductsItem = Handlebars.compile(sourceProductsItem);
                let templateCurrentPageInfo = Handlebars.compile(sourceCurrentPageInfo);

                let htmlProductsItemCompiled = templateProductsItem(result);
                let htmlCurrentPageInfoCompiled = templateCurrentPageInfo(result);

                document.getElementById("product-items-partial-displayer").innerHTML = htmlProductsItemCompiled;
                document.getElementById("currentPageInfo").innerHTML = htmlCurrentPageInfoCompiled;

                //Scroll to top
                $('body,html').animate({
                    scrollTop: $("#scrolling-anchor").offset().top - 50,
                }, 700);

            });
            return;
        }

        $(document).ajaxStart(() => {
            if (trigger == true) {
                document.getElementById("product-items-partial-displayer").innerHTML = "";
                // Show image container
                $("#loader").css("visibility", "visible");
                $("#loader").css("position", "relative");
            }
        });
        $(document).ajaxComplete(() => {
            // Hide image container
            if (trigger == true) {
                $("#loader").css("visibility", "hidden");
                $("#loader").css("position", "absolute");
            }
        });
    });
</script>
<!--================End Categories Product Area =================-->